@import "../node_modules/bootstrap/scss/bootstrap";

$navbar-light-color: #ffffff;
$navbar-light-hover-color: #6610f2;
$navbar-active-color: #6610f2;
$nav-tabs-link-active-color: #6610f2;

@import "../node_modules/bootstrap/scss/bootstrap";